
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy-bold', sans-serif;
}
.headerbutton{
    background: #473BF0;
}
.nonstop{
    width: 350px;
}
.firstpagetexts{
    width: 773px;   
}
.text3{
    width: 25%;
}
.text-2{
    width: 636px;
    font-size: 18px;
    letter-spacing: -0.2px;
}
.trendy{
    width: 350px;
}
.firstpagebutton{
    width: 260px;
}
.secondpage{
    width: 100%;
    background: #F4F7FA;   
}
.bitmap{
    height: 700px;
}
.listen{
    width: 429px;
    font-size: 44px;
}
.rentaltext{
    width: 404px;
}
.secondpgeimage2{
    width: 70%;
}
.thirdpage{
    width: 100%;
    background: #473BF0;
}
.left{
    width: 60%;
}
.contentleft{
    width: 400px;
}
.fourthpage{
    width: 100%;
    background-image: url(images/BG\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.firstpart{
    width: 100%;
}
.comonthreads{
    width: 400px;
    font-size: 16px;
}
.earpods{
    width: 100%;
    height: 100%;
}
.leftear{
    top: 40%;
    left: 40%;
    width: 120px;
}
.rightear{
    width: 120px;
    left: 46%;
    top: 52%;
}
.cta{
    width: 100%;
}
.footerimg{
    width:70%;
}


@media (min-width:350px) and (max-width:992px) {
    .firstpagetexts{
        width: 100%;
    }
    .nonstop{
        margin-left: 10%;
        font-size: 17px;
    }
    .text-2{
        margin: auto;
        width: 90%;
    }
    .text2{
        /* background: yellow; */
        margin:0 auto;
        width: 90%;
        font-size:16px;
    }
    .text3{
        /* background: #473BF0; */
        width: 100%;
        padding: 6.5rem;
    }
    .secondpage,.thirdpage,.fourthpage{
        width: 100%;
    }

    .rentaltext{
        margin-left: -3%;
    }
    .firstpagebutton{
        /* background: green; */
        width: 100%;
    } 
    .bitmap{
        /* background: purple; */
        margin-left: 73%;
        padding-left: 20%;
        width: 200px;
        height: 100%;
    }

    .buds{
        padding: 0 50px;
        margin-left: -65%;
        width: 200px;
        height: 60px;
        object-fit: fill;
    }
    .listen{
        /* background: yellow; */
        font-size: 15px;
        width: 70%;
    }
    .rentaltext{
        /* background: #473BF0; */
        width: 80%;
        margin: 0 auto;
        padding:0 8%;
    }
    .secondpgeimage2{
        width: 40%;
    }
    .left{
        /* background: yellow; */
        width: 98%;
    }
    .right{
        width: 100%;
    }
    .contentleft{
        width: 60%;
    }
    .whitedude{
        /* background: red; */
        padding-left: 20%;
        width: 80%;
    }
    .trendy{ 
        /* background: green; */
        width: 60%; 
        font-size: 13px;
    }
    .comonthreads{

        /* background: red; */
        width: 60%;
        font-size: 12px;
    }
    .earpods{
        /* background: #F4F7FA; */
        margin-top: 29%;
        width: 90%;
        height: 40%;   
    }
    .leftear,.rightear{
        width: 20%;
        margin-top: -27%;
    }
    .fifthpage{
        width: 98%;
        margin-top: 30%;
    }
   footer{
     font-size: 10px;
   }
}